@import "reset";

main {
  width: 400px;
  height: 200px;
  border: 1px solid red;
  margin: 100px auto;
  position: relative;
  //overflow: hidden;

  .panel {
    //anime에서 margin은 퍼센트 모션 처리 불가하기 때문에 , absolute의 left로 배치
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300%; //부모요소 100% * 패널갯수
    height: 100%;
    display: flex;

    li {
      width: 33.3333%; //자식요소 100% / 패널갯수
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;

      &:nth-of-type(1) {
        background: aqua;
      }
      &:nth-of-type(2) {
        background: lightgreen;
      }
      &:nth-of-type(3) {
        background: hotpink;
      }
      &:nth-of-type(4) {
        background: orange;
      }
      &:nth-of-type(5) {
        background: violet;
      }
    }
  }

  .btns {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0px;
    display: flex;
    justify-content: space-evenly;

    li {
      cursor: pointer;
    }
  }
}
